.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#App-header {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  color:aqua
}

.App-link {
  color: #61dafb;
}



button{
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}
